h1 {
  color:tomato;
}

p,
li {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
  background-color:slategrey;
}

p,
h1,
.image {
  text-align: center;
}

ul {
  width: 300px;
  margin: 0 auto;
  list-style-position: inside;
}


ol {
  width: 600px;
  margin: 0 auto;
  list-style-position: inside;
}